.move-search-bar {
  width: 60%;
  margin-bottom: 5%;
}

.move-search-btn {
  width: 30%;
  margin-bottom: 5%;
}
.move-search-dropdown {
  background-color: rgb(240, 240, 240);
}
.move-search-index {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
