.entry-encounter-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  border: 2px solid black;
  width: 700px;
}

.entry-encounter-game {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 2px solid black;
  width: 15%;
}

.entry-encounter-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 2px solid black;
  width: 85%;
}

.entry-encounter-header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
}

.entry-encounter-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;

  width: 100%;
}

.entry-encounter-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;

  width: 100%;
}
.entry-encounter-footer-title {
  background-color: rgb(255, 100, 100);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;

  border: 2px solid black;
  width: 100%;
}
.entry-encounter-footer-items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;

  width: 100%;
}
.entry-encounter-footer-item {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;

  border: 2px solid black;
  width: 100%;
}

.entry-encounter-area {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  border: 2px solid black;
  width: 30%;
}
.entry-encounter-method {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  width: 70%;
}
.entry-encounter-method-title {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(255, 100, 100);

  border: 2px solid black;
  width: 100%;
}

.entry-encounter-method-data {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  border: 2px solid black;
  width: 100%;
}

.entry-encounter-min {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  width: 35%;
}
.entry-encounter-min-title {
  background-color: rgb(255, 100, 100);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  border: 2px solid black;
  width: 100%;
}
.entry-encounter-min-data {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  border: 2px solid black;
  width: 100%;
}

.entry-encounter-max {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  width: 35%;
}
.entry-encounter-max-title {
  background-color: rgb(255, 100, 100);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  border: 2px solid black;
  width: 100%;
}
.entry-encounter-max-data {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  border: 2px solid black;
  width: 100%;
}

.entry-encounter-chance {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  width: 30%;
}
.entry-encounter-chance-title {
  background-color: rgb(255, 100, 100);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  border: 2px solid black;
  width: 100%;
}
.entry-encounter-chance-data {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  border: 2px solid black;
  width: 100%;
}
.locations-pokemon-container {
  display: flex; /* Enables Flexbox */
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  gap: 1em;
  background-color: rgb(240, 240, 240);
  justify-content: space-evenly;
  border-radius: 5px;
  border: 2px solid black;
}
