.version-groups {
  display: flex; /* Enables Flexbox */
  align-items: baseline;
  flex-wrap: wrap;
  gap: 1em;
  column-gap: 20px;
  row-gap: 20px;
  background-color: rgb(240, 240, 240);
  justify-content: space-evenly;
  border: 0.25rem solid;
}

.version-items {
  max-width: 300px;
  min-width: 300px;
  flex-direction: column;
  background-color: rgb(225, 225, 225);
  max-height: 300px;
  min-height: 300px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

.version-header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  background-color: rgb(240, 240, 240);
  height: 40px;
  border-radius: 25px;
  border: 2px solid black;
}
.version-header-item {
  position: relative;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  display: center;
  color: black;
}
.version-body {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}
.version-body-item {
  position: relative;
  font-family: "Times New Roman", Times, serif;
  display: center;
}

.game-name {
  margin: 5px;
  flex-grow: 1;
}
.game-art {
  margin: 5px;
  max-height: 220px;
  min-height: 220px;
  display: center;
}

/* Medium screens (4 items per row) */
@media (max-width: 1200px) {
  .version-items {
    flex: 1 1 calc(25% - 10px);
  }
}

/* Small screens (3 items per row) */
@media (max-width: 900px) {
  .version-items {
    flex: 1 1 calc(33.33% - 10px);
  }
}

/* Extra small screens (2 items per row) */
@media (max-width: 600px) {
  .version-items {
    flex: 1 1 calc(50% - 10px);
  }
}

/* Extra extra small screens (1 item per row) */
@media (max-width: 400px) {
  .version-items {
    flex: 1 1 100%;
  }
}

.game-select-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  border-radius: 25px;
  background-color: rgb(240, 240, 240);
}
.gen-dropdown {
  width: 35%;
}
.game-dropdown {
  width: 35%;
}
.games-go-button {
  width: 10%;
}
