.location-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  border: 2px solid black;
  margin: 10px;
  width: 100%;
}

.location-box {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
}
.location-entry {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;
  background-color: rgb(225, 225, 225);
  border: 2px solid rgb(255, 100, 100);
  margin: 10px;
  width: 20%;
}
.location-text {
  font-size: 15px;
  align-items: center;
}
