.move-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  border: 2px solid black;
  height: 40%;
}

.move-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 40%;
}

.move-name {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 25%;
  height: 100%;
  margin-top: 10px;
}
.move-typing {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
  height: 100%;
  margin-top: 5px;
}
.move-pp {
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  height: 100%;
}
.move-power {
  width: 20%;
  height: 100%;
}
.move-damage-class {
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  height: 100%;
  margin-top: 5px;
}

.move-body {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 30%;
}

.move-accuracy {
  width: 40%;
}
.move-target {
  width: 30%;
}
.move-effect-chance {
  width: 30%;
}
.move-footer {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 30%;
}

.move-effects {
  width: 100%;
}

.move-item-title {
  border: 2px solid black;
}
.move-item-text {
  border: 2px solid black;
}
.move-menu {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  border-radius: 5px;
  border: 2px solid black;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgb(240, 240, 240);
}
.move-search {
  width: 80%;
}
