.move-type-container {
  display: flex; /* Enables Flexbox */
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  gap: 1em;
  background-color: rgb(240, 240, 240);
  justify-content: space-evenly;
  border-radius: 5px;
  border: 2px solid rgb(255, 100, 100);
  width: 90%;
}

.move-type-display {
  min-width: 250px;
  max-width: 250px;
  min-height: 100px;
  max-height: 100px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 2px solid black;
  z-index: 1;
}

.move-type-display-header {
  min-width: 250px;
  max-width: 250px;
  min-height: 50px;
  max-height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.move-type-display-footer {
  min-width: 250px;
  max-width: 250px;
  min-height: 50px;
  max-height: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.move-type-display-header-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.move-type-display-footer-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.move-type-display-footer-subitem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.move-type-display-name {
  min-width: 150px;
  max-width: 150px;
  font-size: 20px;
}
.move-type-display-damage-class {
  min-width: 50px;
  max-width: 50px;
}
.move-type-display-damage-class-logo {
  min-width: 50px;
  max-width: 50px;
  min-height: 25px;
  max-height: 25px;
}
.move-type-display-typing {
  min-width: 100px;
  max-width: 100px;
}
.move-type-display-types {
  min-width: 100px;
  max-width: 100px;
}
.move-type-display-pp {
  min-width: 100px;
  max-width: 100px;
}
.move-type-display-font {
  font-size: 15px;
  justify-content: center;
}
