.bug {
  background-color: #94bc4a;
}

.dark {
  background-color: #736c75;
}

.dragon {
  background-color: #6a7baf;
}

.electric {
  background-color: #e5c531;
}

.fairy {
  background-color: #e397d1;
}

.fighting {
  background-color: #cb5f48;
}

.fire {
  background-color: #ea7a3c;
}

.flying {
  background-color: #7da6de;
}

.ghost {
  background-color: #846ab6;
}

.grass {
  background-color: #71c558;
}

.ground {
  background-color: #cc9f4f;
}

.ice {
  background-color: #70cbd4;
}

.normal {
  background-color: #aab09f;
}

.poison {
  background-color: #b468b7;
}

.psychic {
  background-color: #e5709b;
}

.rock {
  background-color: #b2a061;
}

.steel {
  background-color: #89a1b0;
}

.water {
  background-color: #539ae2;
}
