.App {
  height: 100vh;
  width: 100%;
  display: center;
  align-items: center;
  justify-content: center;
  background-color: #add8e6;
  position: relative;
}
.page {
  margin: 1px;
  overflow-x: hidden;
}

.content {
  position: absolute;
  top: 50%;
  display: flex;
  gap: 20px;
}

.container {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

.box {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.left-box {
  background-color: #add8e6; /* Light blue */
  width: 200px;
}

.right-box {
  background-color: #90ee90; /* Light green */
  width: 100%;
}

.go-btn {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.shiny-btn {
  width: 100%;
  height: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: white;
}

.shiny-btn.is-active {
  background-color: lightblue;
}

.shiny-icon {
  width: 15px;
  height: 15px;
}
